/*LOGIN STYLES*/
#login-other-options a {
	color: #26a69a;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 32px;
	/*font-weight: bold;*/
}

/*TAB & NAVBAR STYLES*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #528ed0;
	z-index: 1;
	position: inherit;
}

.tabs {
	position: initial;
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		position: inherit;
	}
}

/*UNIVERSAL CHECKBOX STYLES*/
input[type='checkbox'] + label {
	padding-left: 70px;
	height: 50px;
	line-height: 50px;
	font-size: 1.1rem;
}
input[type='checkbox'] + label:before {
	width: 50px;
	height: 50px;
}
input[type='checkbox']:checked + label:before {
	width: 25px;
	height: 50px;
}

/*STEP 3 STYLES*/
#step3 #selections {
	display: inline-block;
}
#step3 #description #apply {
	font-style: italic;
}

/*STEP 6 STYLES*/
#step6 #selections {
	display: inline-block;
	height: 150px;
	line-height: 125px;
}
.navbar-default {
	background-color: #528ed0;
	color: black !important;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
	color: black !important;
}

.tabs .tab a {
	color: #0082c3;
}

.tabs .tab a:hover {
	color: #30A2E3;
}

#question {
	line-height: normal;
	font-size: 1.4rem;
	color: #000;
}

#step6 #content {
	display: inline-block;
}

#order {
	line-height: 50px;
	color: #000;
	font-size: 1.4rem;
}